body {
    margin: 0;
}

.page-style {
    margin: 2rem;
}

.trello-column {
    display: inline-table;
    border: #000 solid 1px;
    border-radius: 5px;
    background: #dadada;
    color: #172b4d;
    margin: 5px;
}

.trello-column > h3 {
    cursor: pointer;
}

.footer-controller {
    cursor: pointer;
    color: #797979;
    margin: 10px;
}

.controller-active {
    background: blue;
    color:#fff;
    border-radius: 3px;
    display: inline-block;
    margin: 3px;
    padding: 3px;
    cursor: pointer;
}

.column-card {
    background: #fff;
    border: 1px solid;
    border-radius: 3px;
    padding: 5px;
    margin: 10px auto;
}

.column-list-card {
    cursor: pointer;
}

.column-card-footer {
    font-size: 10px;
    color: #7a7a7a;
}

.close-input-name {
    margin: 5px;
    color: #7a7a7a;
    font-weight: 600;
}

.close-input-name:hover {
    color: black;
}

.close-input-name:after {
    content: 'X';
}

.login {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none !important;
    transition: 0.5s;
    overflow-y: auto;
}

.login-container > form {
    text-align: center;
    margin-top: 40%;
}

.active {
    opacity: 1;
}

.active + DIV {
    opacity: 1;
    pointer-events: none;
}

.login-container {
    display: block;
    position: relative;
    border-radius: 12px;
    background-color: white;
    height: 50%;
    width: 50vw;
    margin-top: 20px;
    opacity: 1;
    transform: scale(1);
    overflow-y: auto;
    pointer-events: all;
}