.popup {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
    overflow-y: auto;
}

.popup.active {
    opacity: 1;
    transform: scale(1);
    pointer-events: all;
}

.popup-content {
    padding: 20px;
    border-radius: 12px;
    background-color: white;
    height: 100%;
    width: 50vw;
    margin-top: 20px;
    overflow-y: auto;
}

.popup-content h3{
    font-size: 1rem;
    font-weight: 700;
}

.popup-content.active {
    transform: scale(1);
    display: block;
}

.desсription-content {
    margin-bottom: 30px;
}

.desсription-content h3 {
    float: left;
    margin-right: 10px;
}

.description-textarea {
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    height: 100px;
    width: 10vw;
    display: none;
    transform: scale(0);
}

.description-textarea.active {
    display: block;
    transform: scale(1)
}

.description-text {
    margin-bottom: 50px;
    width: 10vw;
    transform: scale(0);
}

.description-text.active {
    transform: scale(1)
}

.controller-textarea {
    transform: scale(0);
}

.controller-textarea.active {
    transform: scale(1)
}

.save-com-button {
    display: none;
    transform: scale(0);
}

.save-com-button.active {
    display: block;
    transform: scale(1)
}

.member-name {
    width: 32px;
    height: 32px;
    line-height: 30px;
    border-radius: 50%;
    font-size: 20px;
    color: #000;
    text-align: center;
    background: #bbb;
    float: left;
    margin-top: 10px;
    margin-right: 10px;
  }

.current-comment {
    display: none;
    transform: scale(0);
}

.current-comment button {
    margin: 5px;
}

.current-comment.active {
    display: block;
    transform: scale(1)
}

.edit-comment-controller {
    display: none;
    transform: scale(0);
}

.edit-comment-controller.active {
    display: block;
    transform: scale(1)
}

.header-column-popup {
    font-size: 12px;
    margin-top: -10px;
}

.popup-input-area {
    width: 350px;
}

.comment-author-name {
    font-weight: 600;
}

.delete-card {
    top: 0;
    right: 0;
    position: absolute;
    margin: 10px;
}

.comments-popup {
    height: max-content;
    position: relative;
}